<section class="log_in splash_screen" style="height: 100vh;">
    <div class="container">
        <div class="form_top_area">
           <a href="#"><img src="assets/images/main_white_logo.png" class="mb-3" alt="LOG IN LOGO" loading="lazy"></a>                
        </div>
        <div class="form_area">
           
            <h4 class="h4">forgot password</h4>
            <div class="mb-3 ">
                <label for="staticEmail" class="col-form-label">Email / Username</label>
                <input type="text" class="form-control" id="staticEmail" placeholder="Email / Username">
             </div>
            <input type="submit" class="btn1 mb-3" value="SUBMIT">
            <div class="password_change_area">
                <p>Contact the Admin to <a style="cursor: pointer;" class="pass_word set_password" (click)="resetpassword()">reset your Password
                    ?</a></p>
                <!-- <p>Contact the Admin to <a routerLink="reset-password" class="pass_word set_password">reset your Password ?</a></p> -->
            </div>
            
        </div>
    </div>
    
</section>
