<!-- sidebar -->
<aside class="sidebar" id="mySidebar" [style.width]="width">
    <div class="sidebar_header" [style.width]="width">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <!-- <div class="sidebar_toggle_wrap">
            <div>
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="checkbox-label">
                    <i class="fas fa-sun"></i>
                    <i class="fas fa-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
            <div class="sidebar_close">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div> -->
    </div>
    <div class="sidebarLinks">
        <div class="nav_menu">
            <ul class="nav_menu_ul">
                <li>
                    <a (click)="goToHome()" class="active">
                        <img src="assets/images/home.png" alt="">
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="collapsed" href="#sidebarDashboards" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="sidebarDashboards">
                        <img src="assets/images/task.png" alt="">
                        <span>My Tasks</span>
                    </a>
                    <div class="menu-dropdown collapse" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item" *ngIf="isTask">
                                <a (click)="goToTaskAllocation()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>Task Allocation</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                            <a (click)="goToCalender()">
                                <img src="assets/images/dot.png" alt="">
                                <span>Calendar</span>
                            </a>
                        </li> -->
                            <li class="nav-item" *ngIf="isAssign">
                                <a (click)="goToAssignedTask()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>Assigned Task</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item" *ngIf="isHidden">
                            <a (click)="goToTaskDetails()">
                                <img src="assets/images/dot.png" alt="">
                                <span> Task Details</span>
                            </a>
                        </li> -->
                            <li class="nav-item" *ngIf="isHidden">
                                <a (click)="goToTaskConfirmation()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>Task Confirmation</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="isVisible">
                                <a (click)="goToMyPerformance()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>My Performance</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="isExt">
                                <a (click)="goToMyExtentions()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>extentions</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="isQuery">
                                <a (click)="goToMyQueries()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>queries</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="isHidden">
                                <a (click)="goToMyDeliveredTasks()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>delivered tasks</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="isHidden">
                                <a (click)="goToMyDeadlinemissedTasks()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>deadline missed tasks</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li *ngIf="isAdmin">
                    <a (click)="goToProfileCreation()">
                        <img src="assets/images/profile.png" alt="">
                        <span>Profile creation</span>
                    </a>
                </li>

                <li class="nav-item" *ngIf="isTeam">
                    <a class="collapsed" href="#teamprofile" data-bs-toggle="collapse" role="button"
                        aria-expanded="false" aria-controls="teamprofile">
                        <img src="assets/images/task.png" alt="">
                        <span>Team Profile</span>
                    </a>
                    <div class="menu-dropdown collapse" id="teamprofile">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a (click)="goToTeamProfile()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>Team Overview</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="userType == 'Admin'">
                                <a (click)="goToNotAssignedUsers()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>Not assigned users</span>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="userType == 'Admin'">
                                <a (click)="goToQAList()">
                                    <img src="assets/images/dot.png" alt="">
                                    <span>QA List</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a (click)="goToAttendanceTracking()">
                        <img src="assets/images/attendance.png" alt="">
                        <span>Attendance Tracking</span>
                    </a>
                </li>
                <li>
                    <a (click)="goToTargetManagement()">
                        <img src="assets/images/target-icon.png" alt="">
                        <span>Target Management</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="assets/images/inbox.png" alt="">
                        <span>Inbox</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="divider" *ngIf="isHidden"></div>
        <div class="sidebar_accordion" *ngIf="isHidden">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span>Insights</span>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/reporting.png" alt="">
                                        <span>Reporting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/portfolio.png" alt="">
                                        <span>Portfolios</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/goals.png" alt="">
                                        <span>Goals</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider" *ngIf="isHidden"></div>
        <div class="sidebar_accordion" *ngIf="isHidden">
            <div class="accordion" id="starred">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <span>Starred</span>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                        data-bs-parent="#starred">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/writex_plartform.png" alt="">
                                        <span>Writex Platform</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="sidebar_accordion">
            <div class="accordion" id="projects">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span>Projects</span>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse" aria-labelledby="headingThree"
                        data-bs-parent="#projects">
                        <div class="accordion-body">
                            <ul>
                                <li *ngFor="let item of taskList;let i=index;">
                                    <a href="javascript:void(0);">
                                        <img src="assets/images/project.png" alt="">
                                        <span (click)="viewProject(item.assignmentId, item.invoiceId, item.taskId,item.taskDetailsId,'assigned-task');">{{item.taskId}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>

        <div class="sidebar_accordion">
            <div class="accordion" id="projects">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span>rework</span>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse" aria-labelledby="headingFour"
                        data-bs-parent="#projects">
                        <div class="accordion-body">
                            <ul>
                                <li *ngFor="let item of reWorkList;let i=index;">
                                    <a href="javascript:void(0);">
                                        <img src="assets/images/project.png" alt="">
                                        <span (click)="viewReworkProject(item.taskId);">{{item.taskId}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="sidebar_accordion">
            <div class="accordion" id="projects">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFive">
                            <span>redo</span>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse" aria-labelledby="headingFive"
                        data-bs-parent="#projects">
                        <div class="accordion-body">
                            <ul>
                                <li *ngFor="let item of reDoList;let i=index;">
                                    <a href="javascript:void(0);">
                                        <img src="assets/images/project.png" alt="">
                                        <span (click)="viewReDoProject(item.taskId);">{{item.taskId}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="sidebar_accordion">
            <div class="accordion" id="projects">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <span>resit</span>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse" aria-labelledby="headingSix"
                        data-bs-parent="#projects">
                        <div class="accordion-body">
                            <ul>
                                <li *ngFor="let item of reSitList;let i=index;">
                                    <a href="javascript:void(0);">
                                        <img src="assets/images/project.png" alt="">
                                        <span (click)="viewResitProject(item.taskID);">{{item.taskID}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
    <div class="sidebar_footer" [style.width]="width">
        <div class="sidebar_footer_content">
            <div class="footer_content">
                <a href="#">
                    <img src="assets/images/invite.png" alt="">
                    <span>Invite</span>
                </a>
                <a href="#">
                    <img src="assets/images/help.png" alt="">
                    <span>Help</span>
                </a>
            </div>
        </div>
    </div>
</aside>
<!-- sidebar -->


<router-outlet></router-outlet>