<section id="wrapper">
    <main class="main_content">
        <!-- header -->
        <app-header></app-header>


        <!-- Page Content -->
        <section class="page_content">
            <div class="container">
                <div class="page_heading">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="top_left_heading" *ngIf="pageName == 'task-allocation'">
                                <i class="fa-solid fa-list-check  light_green"></i> <span class="light_green"> Task
                                    Allocation</span>
                            </div>
                            <div class="top_left_heading" *ngIf="pageName == 'assigned-task'">
                                <i class="fa-solid fa-list-check  light_green"></i> <span class="light_green"> Assigned
                                    Task</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <ul class="top_left_heading_ul">
                                <li>
                                    <mat-form-field>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate placeholder="Start date" [(ngModel)]="startDate"
                                                (dateChange)="startDateChanged($event)">
                                            <input matEndDate placeholder="End date" [(ngModel)]="endDate"
                                                (dateChange)="endDateChanged($event)">
                                        </mat-date-range-input>

                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>
                                    <button (click)="getAllTaskList()" class="srch_btn"><i
                                            class="fa-solid fa-magnifying-glass"></i></button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="account_db_top_div">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="amount_confirmed task_common_div">
                                <img src="assets/images/allocated_1.png" alt="" loading="lazy">
                                <span>Total Task Allocated </span>
                                <h3>{{taskAllocatedCount}}</h3>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="pending_amount task_common_div">
                                <img src="assets/images/delivered_1.png" alt="" loading="lazy">
                                <span>Total Task Delivered</span>
                                <h3>{{taskDeliveredCount}}</h3>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="invoice_created task_common_div">
                                <img src="assets/images/allocated_2.png" alt="" loading="lazy">
                                <span>Allocated</span>
                                <h3>{{allocationTaskWC}}</h3>
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="isDivVisible">
                            <div class="invoice_created task_common_div">
                                <img src="assets/images/assigned.png" alt="" loading="lazy">
                                <span>assigned</span>
                                <h3>{{assignedTaskWC}}</h3>
                            </div>
                        </div>
                        <div class="col-sm-3"
                            *ngIf="userType =='SME' || userType =='SSME' || userType =='JSME' || userType =='ATL'">
                            <div class="invoice_created task_common_div">
                                <img src="assets/images/assigned.png" alt="" loading="lazy">
                                <span>delivered</span>
                                <h3>0</h3>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="table_div">
                    <div class="table-responsive">
                        <table class="table account_db_tbl">
                            <thead>
                                <tr>
                                    <th scope="col">Sl No.</th>
                                    <th scope="col">Task ID</th>
                                    <th scope="col">WC</th>
                                    <th scope="col">Work Category</th>
                                    <th scope="col">work type</th>
                                    <th scope="col" *ngIf="pageName == 'task-allocation'">University</th>
                                    <th scope="col">deadline</th>
                                    <th scope="col">time</th>
                                    <th scope="col" *ngIf="pageName == 'assigned-task'">status</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="color_white">

                                <tr *ngFor="let item of taskList;let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.taskId}}</td>
                                    <td>{{item.wordCount}}</td>
                                    <td>{{item.workCategory}}</td>
                                    <td *ngIf="item.workType == 0">Fresh</td>
                                    <td *ngIf="item.workType == 1">ReDo</td>
                                    <td *ngIf="item.workType == 2">ReWork</td>
                                    <td *ngIf="item.workType == 3">Resit</td>
                                    <td *ngIf="pageName == 'task-allocation'">{{item.universityName}}</td>
                                    <td>{{convertDateTime(item.dueDate)}}</td>
                                    <td>{{transform(item.deadlineTime)}}</td>
                                    <td *ngIf="pageName == 'task-allocation' && userType == 'Admin'"><a
                                            class="view_details"
                                            (click)="viewTaskdetails(item.assignmentId, item.invoiceId, item.taskId, '' ,'task-allocation')"><i
                                                class="fa-regular fa-eye"></i></a></td>
                                    <td *ngIf="pageName == 'task-allocation' && userType != 'Admin'"><a
                                            class="view_details"
                                            (click)="viewTaskdetails(item.assignmentId, item.invoiceId, item.taskId, item.taskDetailsId, 'task-allocation')"><i
                                                class="fa-regular fa-eye"></i></a></td>
                                    <td *ngIf="pageName == 'assigned-task'"><a class="view_details"
                                            (click)="viewAssignedTask(item.assignmentId, item.invoiceId, item.taskId,item.taskDetailsId,'assigned-task')"><i
                                                class="fa-regular fa-eye"></i></a></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </section>
    </main>
</section>