<section id="wrapper">
    <main class="main_content">
        <!-- header -->
        <app-header></app-header>

        
        <!-- Page Content -->

        <!-- <i class="fa-solid fa-business-time"></i> -->
        <section class="page_content">
            <div class="container">
                <div class="page_heading">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="top_left_heading">
                                <i class="fa-solid fa-business-time  light_green"></i> 
                                <span class="light_green"> extentions</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="top_left_heading_ul">
                                <div class="header_search id_search me-5">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <input type="text" placeholder="Search Task Id...">
                                </div>
                                <mat-form-field>
                                    <mat-date-range-input [rangePicker]="picker">
                                      <input matStartDate placeholder="Start date" [(ngModel)]="startDate" (dateChange)="startDateChanged($event)">
                                      <input matEndDate placeholder="End date" [(ngModel)]="endDate" (dateChange)="endDateChanged($event)">
                                    </mat-date-range-input>
                                    
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  </mat-form-field>
                                  <button (click)="getExtensions()" class="srch_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="table_div">
                    <div class="table-responsive">
                        <table class="table account_db_tbl query_extention_tbl">
                            <thead>
                                <tr style="width: 100%;">
                                    <th scope="col" style="width: 5%;">Sl No.</th>    
                                    <th scope="col" class="common_th_width">Task ID</th> 
                                    <th scope="col" class="common_th_width">ext date & time</th>
                                    <th scope="col" class="common_th_width">from</th>
                                    <th scope="col"> message</th>
                                    <th scope="col" class="common_th_width">created date & time</th>
                                    <th scope="col" class="common_th_width">status</th>
                                    <th scope="col" class="common_th_width"></th>
                                    <th scope="col" class="common_th_width"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of extensionList;let i=index;">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{item.taskId}}</td>
                                    <td>{{item.extentionDate}} {{item.extentionTime}}</td>
                                    <td>{{item.extentionRaisedBy}}</td>
                                    <td>{{item.extentionMessage}}</td>
                                   <td>{{convertDateTime(item.createdAt)}} {{convertTimeAMPM(getTime(item.createdAt))}}</td>
                                    <td *ngIf="extensionstatus">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="status{{i+1}}" [(ngModel)]="item.extentionStatus" [value]="1" (change)="openConfirmDialog(item.taskExtentionId, item.assignmentId,item.invoiceId, item.taskId,item.taskDetailsId, item.extentionStatus);">
                                            <label class="form-check-label">
                                                Approve
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input class="form-check-input" type="radio" name="status{{i+1}}" [(ngModel)]="item.extentionStatus" [value]="2" (change)="openConfirmDialog(item.taskExtentionId, item.assignmentId,item.invoiceId, item.taskId,item.taskDetailsId, item.extentionStatus);">
                                            <label class="form-check-label">
                                                Decline
                                            </label>
                                          </div>
                                   </td>
                                   <td *ngIf="forAll && item.extentionStatus == 0">Pending</td>
                                    <td *ngIf="forAll && item.extentionStatus == 1">Approved</td>
                                    <td *ngIf="forAll && item.extentionStatus == 2">Declined</td>
                                   <td><button class="send_btn" style="color:black !important;" (click)="forwardExtention(item.assignmentId,item.invoiceId,item.taskId,item.taskDetailsId,item.extentionDate,item.extentionTime,item.extentionMessage)" [disabled]="item.extentionStatus == 0 && (userType == 'Admin' || userType == 'PM' || userType == 'TM') ? false : true">Forward</button></td>
                                   <td><button class="send_btn" style="background-color:#a82828;margin-left: 20px;text-align: center;" (click)="requestExtension(item.assignmentId,item.invoiceId,item.taskId,item.taskDetailsId)" [disabled]="item.extentionStatus == 0 && (userType == 'Admin' || userType == 'PM' || userType == 'TM') ? false : true">Further Extention</button></td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>

            </div>
        </section>
        
    </main>
</section>


