
<section class="log_in splash_screen" style="height: 100vh;">
    <div class="container">
        <div class="form_top_area">
            <a href="#"><img src="assets/images/main_white_logo.png" class="mb-3" alt="LOG IN LOGO" loading="lazy"></a>                   
        </div>
        <div class="form_area">                
            <h4 class="h4">reset password</h4>
             <div class="mb-3">
                <label for="inputPassword" class="col-form-label">change Password</label>
                <div class="eye_hide_show">
                    <input type="password" name="password" class="form-control" id="inputPassword1">
                    <span toggle="#inputPassword1" class="fa-solid  fa-eye-slash toggle-password"></span>
                </div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="col-form-label">confirm Password</label>
                <div class="eye_hide_show">
                    <input type="password" name="password" class="form-control" id="inputPassword">
                    <span toggle="#inputPassword" class="fa-solid  fa-eye-slash toggle-password"></span>
                </div>
            </div>
            <input type="submit" class="btn1 mb-3" value="SUBMIT">                
        </div>
    </div>
    
</section>