<section id="wrapper">
    <main class="main_content">
        <!-- header -->
        <app-header></app-header>


        <!-- Page Content -->
        <section class="page_content">
                <div class="page_heading">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="top_left_heading">
                                <i class="fa-solid fa-list-check  light_green"></i> <span class="light_green">Experts List</span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="container">
                   
                    <div class="table_div">
                        <div class="table-responsive">
                            <table class="table account_db_tbl">
                                <thead>
                                    <tr>
                                        <th scope="col">Sl No.</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Joining Date</th>
                                        <th scope="col">Assigned On</th>
                                        <th scope="col">Capacity</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="color_white">
                                    <tr *ngFor="let item of expertList;let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{item.firstName}} {{item.lastName}}</td>
                                        <td>{{item.userType}}</td>
                                        <td>{{convertDateTime(item.joiningDate)}}</td>
                                        <td>{{convertDateTime(item.assignAt)}}</td>
                                        <td>{{item.capacity}}</td>
                                        <td>
                                            <a (click)="getUserDetailsById(item.userId)"><i class="fa-regular fa-eye"></i></a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                        <span class="color_white">pagination...</span>
                    </div>
            </div>
        </section>
        
    </main>
</section>



